<%- include('header') %>


                 <!-- update category Start -->
<div class="container-fluid pt-4 px-4">
  <div class="row g-4 align-items-center justify-content-center mt-5">
    <div class="col-sm-12 col-xl-6">
      <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Update Category</h6>
        <form
          action="/update_category/<%= user._id %>"
          id="update_category"
          name="basic"
          method="post"
        >
          <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <input
              type="text"
              class="form-control"
              id="category"
              name="category"
              value="<%= user.category %>"
            />
          </div>
         
          <button type="submit" class="btn btn-primary">Update Category</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- update category End -->

<%- include('footer') %>