<%- include('header') %>


  <!-- Custom CSS -->
  <style>
    .jumbotron {
      background-color: #fff;
      padding: 2rem 1rem;
      margin-bottom: 2rem;
      border-radius: 0.3rem;
      text-align: center;
    }

    .btn-primary {
      background-color: #008CBA;
      border-color: #008CBA;
      margin: 10px;
    }

    .btn-primary:hover {
      background-color: #006B87;
      border-color: #006B87;
      margin: 10px;
    }

    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 500px;
    }

    h1 {
      font-size: 4rem;
      font-weight: bold;
      margin-bottom: 30px;
    }

    p {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }

    hr {
      border-top: 3px solid #006B87;
      margin-top: 30px;
      margin-bottom: 30px;
      width: 50%;
    }

    .address-item {
      margin-bottom: 20px;
    }

    .address-details {
      font-size: 1.2rem;
      line-height: 1.5;
    }
  </style>
</head>

<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <div class="jumbotron">
          <img src="https://xenoapp.com/wp-content/uploads/2020/01/Signs-of-a-Satisfied-Customer.png"
            alt="Order Placed" />
          <h1>Order Placed Successfully</h1>
          <p>Thank you for your order!</p>
          <hr>
          <p>To view your order status or track your shipment, please check your email for updates.</p>
          <div class="card-body">
            <a href="/shop" class="btn btn-primary btn-lg">Continue Shopping</a>
            <a href="/order/<%= User._id %>" class="btn btn-primary btn-lg">View Orders</a>
          </div>
        </div>
      </div>
    </div>



  </div>

  
 
  <%- include('footer') %>
